* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0c0c0d;
}

/* TRANSFORMATIONS TO TOP NAVIGATION PANEL */
.main-nav-bar {
    font-size: 14px;
    background: linear-gradient(180deg, rgba(240,240,240,1) 0%, rgba(200,200,200,1) 100%);
    border-bottom: 4px double;
}

/* "ABOUT US" SECTION */
#about-us-main {
    padding-top: 2.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

    .about-us-aside {
        width: 35%;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4%;
        background: linear-gradient(135deg,rgba(12, 12, 13,1) 0%, rgba(255, 255, 255,1) 30%, rgba(12, 12, 13,1) 70%);
        box-shadow: inset 0px 0px 30px 20px rgba(12, 12, 13,1);
        border-radius: 20%;
    }

        .about-title.title{
            margin-top: 3%;
            font-size: 3em;        
        }

        .about-title.title-top {
            font-size: 1.5em;
        }

        #about-logo.logo-container {
            width: 140px;
            height: 90px;
        }

    .about-us-section {
        width: 48%;
        height: 100%px;
        padding: 3%;
    }

        #about-us-title {
            margin-top: 3%;
            font-family: 'Merriweather', serif;
            color: #cc5200;
            font-size: 2em;
        }

        .about-us-text {
            margin-top: 7%;
            font-family: 'Roboto Slab', serif;
            font-size: 1em;
            color: whitesmoke;
            text-align: justify;
        }

hr {
    margin-left: 5vw;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 90vw;
    color: white;
    transform: rotate(0deg);
}

/* "CONTACT US" SECTION */
.contact-us-section {
    width: 100%;
    color: #f2f2f2;
}

    h1 {
        font-family: 'Cinzel', serif;
        font-size: 2.5em;
        font-style: italic;
        margin-left: 5%;
        margin-bottom: 3%;
    }

    #contact-us-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

        #contact-us-form {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            flex-direction:column;
            margin-left: 10%;
        }

            .form-item{
                margin: 1% 0%;
                font-size: 1em;
                font-family: 'Andada Pro', serif;
            }

            .placeholder {
                font-size: 0.9em;
            }

            #form-submit-btn {
                margin-top: 3%;
                margin-bottom: 5%;
                margin-left: 33%;
                width: 30%;
                color: whitesmoke;
                font-weight: bold;
                font-size: 1.2em;
                background-color: #0033cc;
            }

    #contact-us-text {
        width: 30%;
        margin-left: 3%;
    }