* {
    margin: 0;
    padding: 0;
}

#home-header {
    background-image: url('/img/home_background2.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    width: 98.5vw;
    height: 85vh;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
    box-shadow: 0px 1px 5px black;
}
 
    /* "THE MARTIAL WORLD" TITLE */
    .title {
        text-align: center;
        font-family: 'Cinzel', serif;
        text-shadow: 0px 0px 10px black;
    }

        .home-title.title{
            margin-top: 3%;
            font-size: 5em;        
        }
        
        .home-title.title-top {
            font-size: 2.5em;
        }

    /* BELT "ANIMATED" LOGO DESIGN */
    .logo-container {
        margin-top: 3.5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        #home-logo.logo-container {
            width: 180px;
            height: 120px;
        }

        .logo {
            background-color: black;
            animation: pulse 5s infinite;
        }

        @keyframes pulse {
            0% {
                box-shadow: 0px 0px 20px black;
                opacity: 0.9;
                border: 1px solid #404040;
            }
            40%,60% {
                box-shadow: 0px 0px 20px white;
                opacity: 1;
                border: 1px solid black;
            }
            100% {
                box-shadow: 0px 0px 20px black;
                opacity: .9;
                border: 1px solid #404040;
            }
        }

        .belt-horizontal-tip {
            height: 20%;
            width: 30%;
            margin: 2%;
        }

        .belt-middle {
            height: 20%;
            width: 15%;
            margin-top: 2%;
        }

        .belt-vertical-left {   
            height: 45%;
            width: 12%;
            margin-top: -8%;
            margin-right: 8%;
            transform: rotate(30deg);
        }

        .belt-vertical-right {
            height: 45%;
            width: 12%;
            margin-top: -8%;
            margin-left: 8%;
            transform: rotate(-30deg);
    }

    /* SUBTITLE */
    #subtitle {
        margin-top: 3%;
        font-family: 'Crimson Text', serif;
        font-size: 2em;
    }

/* "GO TO NEXT" TAB */
#go-to {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    .go-to-btn {
        width: 40%;
        height: auto;
        background: linear-gradient(180deg, rgba(50,50,50,1) 0%, rgba(0,0,0,1) 100%);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        text-align: center;
    }

        .go-to-icon {
            color: white;
            font-size: 2.5em;
            opacity: 0.9;
        }

/* "SCHOOLS" SECTION */
#schools-section {
    margin-top: 3%;
    margin-bottom: 4%;
    font-family: 'Cinzel', serif;
    font-size: 2em;
    text-align: center;   
}
    /* "SCHOOL SECTION" TABS */
    .schools-section-tabs {
        width: 96vw;
        margin-left: 1%;
        display: flex;    
        flex-direction: column;
        overflow: hidden;
    }

        .tabs {
            display: flex;
            flex-direction: row;
        }

            .school-tab-title {
                font-family: 'Permanent Marker', cursive;
                font-size: 1.5em;
                padding: 0.5%;
                margin: 0% 0.1%;
                border: 1px solid black;
                border-bottom: 0px;
                border-top-right-radius: 15%;
                border-top-left-radius: 15%;
            }

    /* TABS CONTENT */
    .schools-section-articles {
        border: 1px solid black;
        margin: 0% 0.1%;
        padding: 1%;
    }
    
        .school:not(:target) {
            display: none;
        }

        .school:target {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        
        .school-preview {
            text-align: center;
            flex: 1;
            min-width: 15%;
            padding: 1%;
        }

            .school-preview-img {
                width: 25%;
                height: auto;
                max-height: 30%;
                margin-top: 5%;
            }

            .school-name {
                margin-top: 2%;
                font-family: 'Libre Baskerville', serif;
                font-size: 1.5em;
            }

            .school-summary {
                margin-top: 2%;
                font-family: 'Abel', sans-serif;
                font-size: 1em;
            }

            .school-detail-btn {
                margin-top: 4%;
                padding: 2%;
                font-family: 'Lobster', cursive;
                font-size: 1.2em;
                color: black;
                background: linear-gradient(0deg, rgb(163, 163, 163) 0%, rgb(80, 79, 79) 100%);
                
            }
            